CODECANIC_REDIRECT_URI=https://codecanic.com/api/oauth/callback

GITHUB_CLIENT_ID=
VERCEL_CLIENT_ID=
GITLAB_CLIENT_ID=
BITBUCKET_CLIENT_ID=
RAILWAY_TOKEN=
APPLE_TEAM_ID=

STRIPE_SECRET_KEY=
STRIPE_BASIC_PRICE_ID=
STRIPE_PRO_PRICE_ID=
STRIPE_MAX_PRICE_ID=
